.stats-content {
  display: flex;
  text-align: center;
  width: 90%;
}

.stats-card {
  width: 30%;
  height: 70%;
  top: 126px;
  padding-top: 15px;
  box-shadow: 0 0 10px #00000017;
  border-radius: 5px;
  opacity: 1;

  p {
    color: #ffffff;
  }
}

#downloads {
  left: 133px;
  background: #EBD9D9 0 0 no-repeat padding-box;

}

#favourites {
  left: 416px;
  background: #C7D4DB 0 0 no-repeat padding-box;
}

#documents{
  left: 699px;
  background: #B0D5D8 0 0 no-repeat padding-box;
}
