<div class="stats-content">
  <div id="downloads" class="stats-card">
    <div class="icon-div">
      <img src="static/assets/admin-page/download-icon.png">
    </div>
    <div class="title-div">
      DOWNLOAD
    </div>
    <div class="data-div">
      {{downloads}}
    </div>

  </div>
  <div id="savings" class="stats-card">
    <div class="icon-div">
      <img src="/static/assets/user-page/save-icon.png">
    </div>
    <div class="title-div">
      SAVED
    </div>
    <div class="data-div">
      {{favorites}}
    </div>
  </div>
  <div id="documents" class="stats-card">
    <div class="icon-div">
      <img src="static/assets/admin-page/copy-content-icon.png">
    </div>
    <div class="title-div">
      DOCUMENT
    </div>
    <div class="data-div">
      {{documents}}
    </div>
  </div>
</div>
