.container{
  height: 100%;
  min-width: 500px;
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;
  font-family: Verdana, serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 50%));
  overflow-wrap: normal;

  .left-content {
    float: left;
    width: 100%;
    min-width: 500px;
    display: inline-block;
    margin-left: 15px;

    .card-div {
      height: 336px;
    }
    .document-div {
      height: calc(90% - 336px);
    }
  }

  .right-content {
    float: right;
    width: 100%;
    min-width: 500px;
  }



}

@media screen and (max-width: 1156px) {
  .container{
    display: inline-block;

    .right-content {
      float: left;
      padding-left: 15px;
    }



  }
}
