.container{
  height: 100%;
  min-width: 500px;
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;
  font-family: Verdana, serif;
  display: grid;
  grid-template-columns: 50%;

  .left-content {
    grid-area: 1 / 1 / 2 / 2;
    background-color: red;
    width: 100%;
    display: inline-block;
    margin-left: 15px;

    .card-div {
      height: 336px;
    }
    .document-div {
      height: calc(90% - 336px);
    }
  }

  .right-content {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #3a517f;
    width: 100%;
  }



}
