<div id="container">
  <div class="title-row">
    <div class="document-title-div"[innerHTML]="inputtitle"></div>
    <div class="button-div">
      <input type="submit" class="preview document-button" value = "" (click)="changeDocument(inputfile)"/>
      <input type="submit" value = "" class="download document-button"
             fileSaver
             [method]="'GET'"
             [fileName]="inputfile"
             [url]="staticUrl + 'pdf/' + inputfile"
             [header]="{token: 'demo'}"
             [query]="{pi: 1, name: 'demo'}" (click)="downloadInteraction()"
      />

      <input type="submit" class="liked document-button" value = "" (click)="like(false)"/>
    </div>
  </div>
  <div class="sentences-div">
    <div class="sentence-div"[innerHTML]="sentence1"></div>
    <div class="sentence-div"[innerHTML]="sentence2"></div>
    <div class="sentence-div"[innerHTML]="sentence3"></div>

  </div>
</div>
