<div id="container">
  <div class="title-row">
    <div class="document-title-div"[innerHTML]="title"></div>
    <div class="button-div">
      <input type="submit" class="preview document-button" value = ""/>
      <input type="submit" class="download document-button" value = "" (click)="downloadInteraction()"/>
      <input type="submit" class="liked document-button" value = "" (click)="like(false)"/>
    </div>
  </div>
  <div class="sentences-div">
    <div class="sentence-div"[innerHTML]="sentence1"></div>
    <div class="sentence-div"[innerHTML]="sentence2"></div>
    <div class="sentence-div"[innerHTML]="sentence3"></div>

  </div>
</div>
