<div class="wrap">
  <img src= "https://upload.wikimedia.org/wikipedia/en/thumb/9/95/Tieto_logo.svg/1200px-Tieto_logo.svg.png"
       class="logo-img" alt="logo">
  <div class="search">
    <!--<input (input)="search($event.target.value)"/> -->
  <form (ngSubmit)="search()">
    <input type="text" name="search" class="searchTerm" placeholder="What are you looking for?" [(ngModel)]="searchString"/>
    <input type="submit" class="searchButton"/>
      <i class="fas fa-search"></i>
  </form>
  </div>
</div>
