.search {
  width: auto;
  position: relative;
  display:flex;
  justify-content: center;
  font-family: Verdana;

  margin-bottom: 20px;

  form {
    width: auto;
    height: auto;
  }
}

.searchButton {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -25px;
  height: 73px;
  width: 60px;
  border-radius: 25px;
  border: 2px solid lightgrey ;
  background-image: url("../../assets/user-page/search-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  font-size: 20px;
}
 input:focus {
  outline-width: 0;
}

 .searchTerm {
   display: inline-block;
   width: 400px;
   font-size: 25px;
   border-radius: 25px;
   border: 2px solid lightgrey;
   padding: 20px;
 }
.search-bar {
  width: auto;
  height: 30px;

}

.misspelled {
  text-decoration: underline;
}

.spellcheckBox {
  display: inline-block;
  overflow: hidden;
  max-height: 73px;
}

#spellcheckDropDown {
  position: fixed;
  z-index: 1100;
  width: 300px;
  height: auto;
  background-color: white;
  border: 1px solid black;
  
  span {
    display: block;
  }
  span:hover {
    background-color: #3a517f;
    cursor: pointer;
  }
}

#spellcheckDropDownBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
