.search {
  width: auto;
  position: relative;
  display:flex;
  justify-content: center;
}

.searchButton {
  width: 60px;
  border-radius: 25px;
  border: 2px solid lightgrey ;
  background: white;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
 input:focus {
  outline-width: 0;
}

 input {
   width: 50%;
   font-size: 25px;
   border-radius: 25px;
   border: 2px solid lightgrey;
   padding: 20px;
 }
.search-bar {
  width: 100%;
  height: 30px;

}
