<div class = "container m-0 p-0">
  <app-search-bar [changePage]="true"></app-search-bar>
  <div class="saved-documents">
    <div class="header">
      SAVED DOCUMENTS
    </div>
    <app-saved-document *ngFor="let doc of savedDocuments"
                        [inputfile]="doc.pdfName"
                        [inputtitle]="doc.title"
                        [keyword]="getBestKeyword(doc)"
                        [inputsentence1]="doc.abstracts.pop().sentence"
                        [inputsentence2]="doc.abstracts.pop().sentence"
                        [inputsentence3]="doc.abstracts.pop().sentence"
                        [userId]="userId">
    </app-saved-document>
  </div>
</div>
<app-search-hit-preview *ngIf="previewResult" [result]="previewResult" [abstracts]="abstracts"></app-search-hit-preview>

