<div class="container">

  <div class = "sidenav">
    <button class="btn btn-primary upload-file-btn" routerLink="/admin">Admin</button>
  </div>

  <div class="upload-page-content">
    <h4>Upload new document</h4>
    <div class="selected-documents">
      <div class="form-group">
        <input placeholder="Choose name"  type="text" name="title" [(ngModel)]="fileTitle">
        <input type="file" name="image" (change)="fileProgress($event)" />
      </div>
    </div>
  </div>

  <div class="choosed-documents">
    <h4>Choosed documents</h4>


    <div class="file-buttons">

      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }}
      </div>
      <div class="image-preview" *ngIf="previewUrl">
        <img [src]="previewUrl" height="300" />
      </div>
      <div *ngIf="uploadedFilePath">
        {{uploadedFilePath}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary upload-file-btn"  (click)="onSubmit()">Upload document</button>
      </div>
    </div>
  </div>
</div>
{{responseMessage}}


