<div class="container">
  <div class="heading">
    <h1>Admin-page</h1>
  </div>
  <div class="upload-page-content">
    <h4>Documents selected</h4>
    <div class="selected-documents">
      HÄR SKA DE IN
    </div>
    <div class="file-buttons">
      <div class="form-group">
        <input placeholder="Choose name" type="text" name="title" [(ngModel)]="fileTitle">
        <input type="file" name="image" (change)="fileProgress($event)" />
      </div>
      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }}
      </div>
      <div class="image-preview" *ngIf="previewUrl">
        <img [src]="previewUrl" height="300" />
      </div>
      <div *ngIf="uploadedFilePath">
        {{uploadedFilePath}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary upload-file-btn"  (click)="onSubmit()">Upload document</button>
        <button class="btn btn-primary upload-file-btn" routerLink="/admin">Back</button>
      </div>
    </div>
  </div>
</div>
{{responseMessage}}
