/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .upload-page-content .choosed-documents {
    flex-direction: column;
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .upload-page-content .choosed-documents {
    width: 100%;
  }
}

.upload-page-content{
  height: 25%;
  width: 45%;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
  justify-content: center;
  text-align: center;
  h4{
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.input-button {
  width: auto;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;

}

.choosed-documents {
  height: 25%;
  width: 45%;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: right;
  h4{
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.choosed-file {
  width: auto;
  height: 20px;
  text-align: center;
  border-bottom: #383838;
  background-color: darkslategrey;
}

.selected-documents{
  height: 80%;
  width: 95%;
  border: 1px solid lightgrey;
  justify-content: center;
  text-align: center;
  margin: auto;

  font-family: Verdana;
}

.sidenav {
  display: compact;
  justify-content: center;


  button {
    background-color: #B0D5D8;
    color: #ffffff;
    border: none;
    padding: 4px 11px;
    margin: 2px;
    cursor: pointer;
  }
}
.file-buttons{
  display: flex;
  justify-content: center;
  margin-top: 280px;
  margin-left: auto;
  margin-right: auto;

  button {
    background-color: #B0D5D8;
    color: #ffffff;
    border: none;
    padding: 4px 11px;
    margin: 2px;
    cursor: pointer;
  }
}

.container{
  background-color: #F5F5F5;
  height: auto;
  width: auto;
}

