<!--
<div class="grid-container">

  <div class="grid-item">
    <h4>Upload new document</h4>
    <hr class = "border: bottom">
    <div class="selected-documents">
      <label><h5>Browse files</h5>
        <input type="file" class = "input-button" (change)="fileProgress($event)" multiple/>
      </label>
    </div>
  </div>

  <div class="grid-item">
    <h4>Chosen documents</h4>
    <hr class = "border: bottom">

    <span *ngFor="let file of fileData">
      <div id = "chosen-file">
        <img src = "/static/assets/admin-page/color-bar-1-icon.png" style = "height:20px; width: 10px;">
        {{file.title}}
      </div>
      <br>
    </span>

    <div class="file-buttons">

      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }}
      </div>
      <div *ngIf="uploadedFilePath">
        {{uploadedFilePath}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary upload-file-btn" (click)="onSubmit()"><h5>Upload documents</h5></button>
      </div>
    </div>
  </div>
</div>
<div id="uploading" *ngIf="uploadingPopUp">
  <div *ngIf="responseMessage === ''">

  </div>
  <div *ngIf="responseMessage !== ''">
    {{responseMessage}}
    <p (click)="closePopup()">Click on this text to continue</p>
  </div>
</div>
-->

<div class="grid-container">

  <div class="grid-item">
    <h4>Upload new document</h4>
    <hr class = "border: bottom">
    <div class="selected-documents">
      <label><h5>Browse files</h5>
        <input type="file" class = "input-button" (change)="fileProgress($event)" multiple/>
      </label>
    </div>
  </div>

  <div class="grid-item">
    <h4>Chosen documents</h4>
    <hr class = "border: bottom">

    <span *ngFor="let file of fileData">
      <div id = "chosen-file">
        <img src = "/static/assets/admin-page/color-bar-1-icon.png" style = "height:20px; width: 10px;">
        {{file.title}}
      </div>
      <br>
    </span>

    <div class="file-buttons">

      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }}
      </div>
      <div *ngIf="uploadedFilePath">
        {{uploadedFilePath}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary upload-file-btn"  (click)="onSubmit()"><h5>Upload documents</h5></button>
      </div>
    </div>
  </div>
</div>
<div id="uploading" *ngIf="uploadingPopUp">
  <div *ngIf="responseMessage === ''">
    <div class="loader">
    </div>
  </div>
  <div class = "response-message" *ngIf="responseMessage !== ''">
    {{responseMessage}}
    <p (click)="closePopup()">Please click here to continue</p>
  </div>
</div>



