.upload-page-content{
  height: 25%;
  width: 45%;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
  h4{
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.choosed-documents {
  height: 25%;
  width: 45%;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: right;
  h4{
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.selected-documents{
  height: 75%;
  width: 95%;
  border: 1px solid lightgrey;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana;
}

.sidenav {
  display: compact;
  justify-content: center;


  button {
    background-color: #B0D5D8;
    color: #ffffff;
    border: none;
    padding: 4px 11px;
    margin: 2px;
    cursor: pointer;
  }
}
.file-buttons{
  display: flex;
  justify-content: center;
  margin-top: 280px;
  margin-left: auto;
  margin-right: auto;

  button {
    background-color: #B0D5D8;
    color: #ffffff;
    border: none;
    padding: 4px 11px;
    margin: 2px;
    cursor: pointer;
  }
}

.container{
  background-color: #F5F5F5;
  height: 1400px;
  width: auto;
}

