#container {
  min-width: 300px;
  width: 25%;
  height: auto;
  /* UI Properties */
  background: #E9EAED 0% 0% no-repeat padding-box;
  border-radius: 40px;
  opacity: 0.9;
  padding: 20px;
  display: inline-block;
  margin: 10px;

  .document-title-div {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  .button-div {
    width: 240px;
    margin: 0 auto;
  }

  p {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .document-button {
    display: inline-block;
    margin: 10px 5px -10px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    opacity: 1;
    background-repeat: no-repeat;
    background-color: darkgrey;
    border: none;
    background-position: center;
    cursor: pointer;
    font-size: 20px;
  }

  .document-button:hover {
    background-color: #383838;
  }

  .preview {
    background-image: url("../../../../assets/user-page/expand-icon.png");
  }

  .download {
    background-image: url("../../../../assets/user-page/download-search-page-icon.png");
  }

  .liked {
    background-image: url("../../../../assets/user-page/like-icon.png");
  }

  .liked:hover {
    background-color: crimson;
  }

}
