.container{
  background-image: url("/static/assets/backgrounds/home-background.png");/* The image used */
  background-color: #ffffff; /* Used if the image is unavailable */
  width: auto;
  min-height: 100vh;
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;/* Resize the background image to cover the entire container */
}

.start-page-container {
  padding-top: 300px;
}

.trending-documents-div {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.saved-documents {
  position: fixed;
  top: 30px;
  right: 30px;

  img {
    width: 161px;
    height: 74px;
  }

  img:hover {
    cursor: pointer;
  }
}
