.container {
  height: 1000px;
  overflow-x: hidden;
  background-image: url("/static/assets/backgrounds/home-background.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.start-page-container {
  padding-top: 300px;
}

.search{
  padding-left: 300px;
  padding-right: 300px;
}


.search-bar {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
}

.logo-img {
  display: block;
  width: 430px;
  top: 200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.trending-documents-div {
  position:absolute;
  left:12%;
  top: 430px;
  width: 76%;
}

.saved-documents {
  position: absolute;
  top: 30px;
  right: 30px;

  img {
    width: 141px;
    height: 60px;
  }

  img:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1090px) {
  .logo-img {
    margin-bottom: -75px;
  }
  .trending-documents-div {
    top: 65%;
  }
}

@media screen and (max-width: 612px) {
  .logo-img {
    width: 300px;
  }
  .trending-documents-div{
    width: 100%;
    left: 0;
    top: 67%;
  }

  .search-bar {
    width: 100%;
  }

}
