.search-result-container {
  max-width: 100%;
  text-align: center;
  margin-bottom: 10%;
  background: #E0E0E0 0 0 no-repeat padding-box;
  border-radius: 100px 30px 100px 100px;
  opacity: 1;

  .card-title {
    cursor: pointer;
  }

  .body {
    max-width: 85%;
    display: inline-block;
    margin-bottom: 10%;
    margin-left: 10%;
    color: #383838;

    .line {
      width: 90%;
      border-top: 1px solid black;
      margin-bottom: 3%;
      margin-top: 3%;
    }

    #button-container {
      margin-right: 10%;
    }

    .buttons {
      margin-top: 15px;
      margin-right: 5px;
      display: inline-block;
      height: 50px;
      width: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 45px;
      cursor: pointer;
    }

    #download-button {
      background-image: url("/static/assets/user-page/download-button.png");
    }

    #expand-button {
      background-image: url("/static/assets/user-page/expand-info-button.png");
    }

    #like-button {
      background-image: url("/static/assets/user-page/save-button.png");
    }

    #liked-button {
      background-image: url("/static/assets/user-page/red-saved-button.png ");
    }
    .close {
      text-align: right;
    }

    #close-button {
      text-align: right;
      margin-top: 15px;
      margin-right: 15px;
      display: inline-block;
      height: 25px;
      width: 25px;
      background-image: url("/static/assets/user-page/X-icon.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      cursor: pointer;
    }

    h5 {
      font-size: 1.5em;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 10%
    }

    .keywords {
      text-align: center;
      margin-right: 15%;
    }
  }
}




