.search-result-container {
  width: 70%;
  height: 100%;
}

.search-sidebar {
  width: 30%;
  height: 100%;
  margin-left: 40px;
}

.container {
  display: flex;
  height: 1400px;
  background-image: url("../../assets/resultBackground.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.logo-img {
  width: 120px;
  height: 70px;
}

