.logo-img {
  width: 120px;
  height: 70px;
}

.search-result-container {
  width: 70%;
}

.search-bar {
}

.search-sidebar {
  width: 30%;

}

.full-page-container {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../../assets/resultBackground.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

}

.container {
  display: flex;
}


