.logo-img {
  width: 120px;
  height: 70px;
}

.search-result-container {
  width: 70%;
  height:8000px;
}

.search-sidebar {
  width: 30%;

}

.saved-documents {

  img {
    width: 161px;
    heigth: 74px;
  }
}

.full-page-container {
  min-height: 100vh;
  min-width: 100vw;
  //overflow-x: hidden;
  background-image: url("/static/assets/backgrounds/result-background.png");
  background-size: contain;
  background-position: top;
  background-repeat: repeat-y;

  @media screen and (max-width: 640px) {
    background-image: url("/static/assets/backgrounds/result-background-iPhone-5.png");
  }
  @media screen and (max-width: 830px) {
    background-image: url("/static/assets/backgrounds/result-background-iPhone-XR.png");
  }
  @media screen and (max-width: 992px) {
    background-image: url("/static/assets/backgrounds/result-background-narrow.png");
  }
  @media screen and (min-width: 992px) {
    background-image: url("/static/assets/backgrounds/result-background.png");
  }
  @media screen and (min-width: 1200px) {
    background-image: url("/static/assets/backgrounds/result-background-wide.png");
  }
}

.container {
  display: flex;
}


