<div class="full-page-container">
  <div class="search-bar">
    <app-search-bar [changePage]="false"></app-search-bar>
    <a class="saved-documents">
      <img routerLink="/saved" src="static/assets/user-page/saved-button.png">
    </a>
  </div>
  <div class="container">
    <div class="search-result-container">
      <app-search-hits></app-search-hits>
    </div>
    <div class="search-sidebar">
      <app-related-searches-decision-tree></app-related-searches-decision-tree>
    </div>
  </div>
</div>
<app-search-hit-preview *ngIf="previewResult" [result]="previewResult" [abstracts]="abstracts"></app-search-hit-preview>

