<div class="doc-stats-content">
  <div class="switch-buttons">
    <button (click)="sortDownloadsArray()">show downloads</button>
    <button (click)="sortFavoritesArray()">show favorites</button>
  </div>
  <div class="doc-info">
    <div id="most-views" class="stats-doc">
      <div>
        <div class="individual-content" *ngFor="let pdf of pdfs">
          <div class="document-info">
            <h5 class="card-heading">{{pdf.title}}</h5>
          </div>
          <div class="stats">
            <p>{{pdf.favorites}} favorites </p>
            <p> {{pdf.downloads}} downloads</p>
          </div>
        </div>
      </div>
    </div>
    <div id="most-downloads" class="stats-doc">
      <div *ngIf="false">
        <div class="individual-content" *ngFor="let pdf of pdfs">
          <div class="document-info">
            <h5 class="card-heading">{{pdf.title}} !</h5>
          </div>
          <div class="stats">
            <p>{{pdf.favorites}} favorites </p>
            <p> {{pdf.downloads}} downloads</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
