<app-admin-navbar></app-admin-navbar>
<div class = "container">

  <div class = "search-edit-doc">
    <app-search-edit-doc></app-search-edit-doc>
  </div>

  <div class = "edit-component">
    <app-edit-component></app-edit-component>
  </div>

</div>


<!--

<!DOCTYPE html>
<html>
<head>
  <title>Detecht</title>
  <link rel="stylesheet" href="edit-documents.component.scss">
</head>

<body>

<main>
  <section id="hero">
    <div class="container">
      <h1>Container / background.</h1>
    </div>

    <section id="top-bar">
      <div class="top-bar">
        <pos>
          <h2>topbar</h2>
        </pos>
      </div>
    </section>

  </section>
  <section id="contact">
    <div class="sidebar-menu">
      <h1>Sidebar-menu</h1>
    </div>
  </section>



  <section id="doc-container">
    <div class="doc-container">
      <h3>doc container</h3>
    </div>
  </section>

  <section id="doc-being-edited">
    <div class="doc-being-edited">
      <h4>doc being edited</h4>
    </div>
  </section>
</main>
</body>
</html>

-->
