<div class="container">

  <div class="row">
    <button class="btn" (click)="changetoview()" [ngStyle]="{'color': [viewscolor]}">Most Views</button>
    <button class="btn" (click)="changetodownloads()" [ngStyle]="{'color': [downloadscolor]}">Most Downloads</button>


  </div>
  <div class="documents-div">
    <app-most-document title="Här är en titel" views="10203" downloads="32145" abstract="Detta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstract"></app-most-document>
    <app-most-document title="Här är en titel" views="10203" downloads="32245" abstract="Detta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstract"></app-most-document>
    <app-most-document title="Här är en titel" views="10203" downloads="31245" abstract="Detta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstract"></app-most-document>
    <app-most-document title="Här är en titel" views="10203" downloads="1245" abstract="Detta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstract"></app-most-document>
    <app-most-document title="Här är en titel" views="10203" downloads="45" abstract="Detta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstractDetta är ett abstract"></app-most-document>

  </div>

</div>
