<div id="background" (click)="close()"></div>
<div id="container">

  <header>
    <h1>{{result.title}}</h1>
    <div class="button-group">

      <span (click)="liked = !liked" *ngIf="!liked">
        <img src="assets/user-page/save-button.png">
      </span>
      <span (click)="liked = !liked" *ngIf="liked">
        <img src="assets/user-page/red-saved-button.png">
      </span>
      <span
        fileSaver
        [method]="'GET'"
        [fileName]="result.title"
        [url]="staticUrl + 'pdf/' + result.name"
        [header]="{token: 'demo'}"
        [query]="{pi: 1, name: 'demo'}"
      >
        <img src="assets/user-page/download-button.png">
      </span>
      <span>
        <img (click)="close()" src="assets/user-page/x-button.png">
      </span>
    </div>
  </header>
  <div class="body">
    <div class="qr-code-wrapper">
      <h2>QR-Code</h2>
      <div class="container">
    <app-qr-code></app-qr-code>
      </div>
    </div>
    <div class="abstract-wrapper">
      <h2>Abstracts</h2>
        <div>
        <div *ngFor='let sentence of sentences' class="abstract">
          <p>"{{sentence}}"</p>
          <div class="button-wrapper">
            <img (click)="displayPreview(sentence)" src="assets/user-page/take-me-there-button.png">
          </div>
          </div>
        </div>
    </div>
    <div class="dummy"></div>
    <div class="related-documents-wrapper">
      <h2>Related Documents</h2>
      <div class="related-document">
        <h3>{{result.title}}</h3>
        <div class="icons">
          <span (click)="liked = !liked" *ngIf="!liked">
            <img src="assets/user-page/save-button.png">
          </span>
          <span href="#" (click)="liked = !liked" *ngIf="liked">
            <img src="assets/user-page/red-saved-button.png">
          </span>
          <span href="#">
            <img src="assets/user-page/download-button.png">
          </span>
          <span href="#">
            <img (click)="close()" src="assets/user-page/information-button.png">
          </span>
        </div>
      </div>
      <div class="related-document">
        <h3>{{result.title}}</h3>
        <div class="icons">
          <span (click)="liked = !liked" *ngIf="!liked">
            <img src="assets/user-page/save-button.png">
          </span>
          <span href="#" (click)="liked = !liked" *ngIf="liked">
            <img src="assets/user-page/red-saved-button.png">
          </span>
          <span href="#">
            <img src="assets/user-page/download-button.png">
          </span>
          <span href="#">
            <img (click)="close()" src="assets/user-page/information-button.png">
          </span>
        </div>
      </div><div class="related-document">
      <h3>{{result.title}}</h3>
      <div class="icons">
          <span (click)="liked = !liked" *ngIf="!liked">
            <img src="assets/user-page/save-button.png">
          </span>
        <span href="#" (click)="liked = !liked" *ngIf="liked">
            <img src="assets/user-page/red-saved-button.png">
          </span>
        <span href="#">
            <img src="assets/user-page/download-button.png">
          </span>
        <span href="#">
            <img (click)="close()" src="assets/user-page/information-button.png">
          </span>
      </div>
    </div>


    </div>
  </div>
  <app-search-result-preview [showPreview]=showPreview [staticUrl]="staticUrl"
                             [result]="result" [sentence]="rightSentence"></app-search-result-preview>
</div>
