#horizontal {
  position: fixed;
  top: 0px;
  left: 111px;
  right: 0px;
  height: 88px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  opacity: 1;
}

#vertical {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 111px;
  z-index: 1110;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  opacity: 1;

  span {
    margin-top: 20px;
    display: block;
  }

  span:hover {
    color: blue;
    cursor: pointer;
  }
}
