<div id = "horizontal">
    <button class = "btn btn-primary log-out-btn" (click) = "logout()"><h3>Log out</h3></button>
</div>
<div id = "vertical">
  <!--
  <span (click)="changePage('analytics')"><img src = "static/assets/admin-page/account-circle-icon.png"></span>
  <span (click)="changePage('upload')"><img src = "static/assets/admin-page/file-upload-icon.png"></span>
  <span (click)="changePage('edit')"><img src = "static/assets/admin-page/border-color-icon.png"></span>
  -->
  <!-- TODO: Fix so only the image for the clicked button changes -->
  <span (click) = "changePage('analytics')" *ngIf = "currentPage === 'analytics'" id = "onAnalytics"></span>
  <span (click) = "changePage('analytics')" *ngIf = "currentPage !== 'analytics'" id = "offAnalytics"></span>
  <span (click) = "changePage('upload')" *ngIf = "currentPage === 'upload'" id = "onUpload"></span>
  <span (click) = "changePage('upload')" *ngIf = "currentPage !== 'upload'" id = "offUpload"></span>
  <span (click) = "changePage('edit')" *ngIf = "currentPage === 'edit'" id = "onEdit"></span>
  <span (click) = "changePage('edit')" *ngIf = "currentPage !== 'edit'" id = "offEdit"></span>
</div>
