{%  load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Detecht Search Engine</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="static/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles.735576c8f452f0fcbded.css' %}"></head>
<body>
  <app-root></app-root>
<script src="{% static 'runtime-es2015.e16c628500c5235d661b.js' %}" type="module"></script>
  <script src="{% static 'runtime-es5.e16c628500c5235d661b.js' %}" nomodule defer></script>
  <script src="{% static 'polyfills-es5.81e47836f9a6cb2740d9.js' %}" nomodule defer></script>
  <script src="{% static 'polyfills-es2015.c25d64dcc478d7db826d.js' %}" type="module"></script>
  <script src="{% static 'main-es2015.ca1dfffb0cec71c62d64.js' %}" type="module"></script>
  <script src="{% static 'main-es5.ca1dfffb0cec71c62d64.js' %}" nomodule defer></script></body>
</html>
