.results {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  margin: 0;
}
.result-div {
  margin-left: 30px;
  width: 90%;
  display: inline-block;
  //height: 100%;
  font-family: Verdana;
}

#top-text {
  margin-left: 30px;

  #spellcheck {
    #spellcheck-link {
      color: #000;
    }

    #spellcheck-link:hover {
      color: #3a517f;
      cursor: pointer;
    }
  }
}
