@media screen and (min-width: 701px) {
  .results {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 700px) {
  .results{
    width: 100%;
    margin:0;
  }
}

.result-div {
  width: 90%;
  display: inline-block;
  margin-left: 5%;
  //height: 100%;
  font-family: Verdana;
}

#top-text {
  margin-left: 30px;

  #spellcheck {
    margin-bottom: 10px;
    #spellcheck-link {
      color: #000;
    }

    #spellcheck-link:hover {
      color: #3a517f;
      cursor: pointer;
    }
  }
}

#number-of-hits {
  margin-bottom: 10px;
}

