.container {
  background-image: url("/static/assets/backgrounds/home-background.png");/* The image used */
  background-color: grey; /* Used if the image is unavailable */
  width: auto;
  min-height: 100vh;
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;/* Resize the background image to cover the entire container */
  padding-bottom: 100px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 450px;
  margin-left: -200px;
  margin-top: -225px;
  background-color: #FFFFFF;
  text-align: center;

  h2 {
    font-family: 'Poppins', sans-serif;
  }

  img {
    padding-bottom: 40px;

  }

  input {
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
  }

  .searchButton {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
    height: 24px;
    width: 209px;
    padding: 4px 11px;
    margin: 2px;
    border: 1px solid lightgrey;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 1440px) {
  .container {
    background-image: url("/static/assets/backgrounds/home-background-wide.png");/* The image used */

    .login-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1000px;
      height: 1200px;
      margin-left: -500px;
      margin-top: -600px;
      background-color: #FFFFFF;
      text-align: center;

      h2 {
        padding-top: 50px;
      }

      img {
        padding-bottom: 20px;

      }

      input {
        height: 60px;
        margin-bottom: 30px;
        width: 800px;
        border: 5px solid darkslategrey;
      }

      .searchButton {
        cursor: pointer;
        background-color: #FFFFFF;
        color: #000000;
        height: 80px;
        width: 800px;
        padding: 12px 33px;
        margin: 10px;
        border: 5px solid darkslategrey;
      }

    }
  }

}
@media screen and (max-width: 992px) {
  .container {
    background-image: url("/static/assets/backgrounds/home-background-narrow.png");/* The image used */

    .login-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 450px;
      margin-left: -200px;
      margin-top: -225px;
      background-color: #FFFFFF;
      text-align: center;
    }

  }

}

@media screen and (max-width: 612px) {
  .container {
    background-image: url("/static/assets/backgrounds/home-background-iPhone-5.png");/* The image used */
    .login-box {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      margin-left: 0;
      margin-top: 0;
      text-align: center;

      background-image: url("/static/assets/backgrounds/home-background-iPhone-5.png"); /* The image used */
      background-color: #FFFFFF; /* Used if the image is unavailable */
      width: auto;
      min-height: 100vh;
      height: auto; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
      padding-bottom: 50px;

      h2 {
        padding-top: 50px;
      }

      img {
        padding-bottom: 20px;

      }

      input {
        height: 20px;
        margin-bottom: 10px;
        width: 250px;
        border: 1px solid grey;
      }

      .searchButton {
        cursor: pointer;
        background-color: #FFFFFF;
        color: #000000;
        height: 24px;
        width: 250px;
        padding: 4px 11px;
        margin: 2px;
        border: 1px solid grey;
      }


    }

  }


}

