.container{
  margin-top: 88px;
  margin-left: 111px;
  background-color: #F5F5F5;
  font-family: Verdana;
  height: 1400px;
  width: auto;
}

.left-content {
  display: grid;
  width: 50%;
}

.right-content {
  width: 50%;
}

.page-content{
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  .view-content{
    width: 90%;
    height: 80vh;
    overflow: scroll;
    background-color: #ffffff;
    h2{
      margin:3px;
    }
    h5{
      margin: 5px;
    }
  }
  .upload-content{
    width:20%;
  }
  .upload-btn {
    background-color: #ffffff;
    font-size: 17px;
    padding: 14px 7px;
    margin-top: 0px;
  }
  .upload-btn:hover {
    background-color: #F0F0F0;
    color: #000000;
  }
}

.individual-content {
  margin-top: 2px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;

  h5{
    text-align: left;
    margin-left: 5px;
    font-size: 16px;
  }
  button{
    text-align: right;
    margin-right: 10px;
  }
}
