.heading{
   text-align: center;
   background-color: #ffffff;
   h1{
     text-align: center;
     margin: 5px;
   }
 }
.container{
  background-color: #ffffff;
  display: flex;
}

.left-content {
  display: grid;
  width: 50%;
}

.right-content {
  width: 50%;
}

