<div class="container">
  <div class="info-holder">
    <p class="pdf_name">Name of PDF</p>
    <a href="">
    <img class="close" src="../../../../assets/ic_close_24px@2x.png">
    </a>
    <p class = "pdf_summary" > Summarized text</p>
<!--    <hr class = "hr">-->
  </div>

  <div class="Middle-cont">
    <hr class = "hr1">
      <input type="text" class="searchTerm" placeholder="Name">
</div>
<!--  <hr class = "hr">-->
  <div class = "bottom_container">
    <hr class = "hr">
<div>
    <a href="">
  <img  class="icon" src="assets/ic_thumb_up_24px@2x.png">
    </a>
    <p class="low_text">300 likes</p>
  </div>
    <div>
    <a href="">
    <img class="icon" src="/assets/ic_get_app_24px@2x.png">
    </a>
    <p class="low_text"> 200 downloads</p>

</div>

    <div>

    <button type="submit" class="saveButton">
      <p class="button-text">Save changes</p>
    </button>


</div>
    <div>
    <a href="">
    <img class= "trash" src="assets/ic_delete_24px@2x.png" alt="">
    </a>


</div>
  </div>

</div>


<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
  <div class="info-holder">
    <p class="pdf_name">Name of PDF</p>
    <img class="close" src="../../../../assets/ic_close_24px@2x.png">
    <p class = "pdf_summary" > Summarized text</p>

  </div>
  <hr class = "hr">
  <div class ="text-edit-bar-holder">
    <div class="search">
      <input type="text" class="searchTerm" placeholder="Pdf_name">
    </div>
  </div>
  <div class = "bottom_container">


    <hr>




    <img  class="icon" src=../../../assets/ic_thumb_up_24px@2x.png">
    <p class="low_text">number_of likes</p>
    <img class="icon" src="../../../assets/ic_get_app_24px@2x.png">
    <p class="low_text"> number_of downloads</p>



    <button type="submit" class="saveButton">
      <p class="button-text">save changes</p>
    </button>

    <img class= "trash" src="../../../assets/ic_delete_24px@2x.png" alt="">


  </div>


</div>
-->
