<div class="container">
  <div class="info-holder">
    <p class="pdf_name">Name of PDF</p>
    <a href="">
      <img class="close" src="../../../../assets/ic_close_24px@2x.png">
    </a>
    <p class = "pdf_summary" > Summarized text</p>
    <!--    <hr class = "hr">-->
  </div>

  <div class="Middle-cont">
    <hr class = "hr1">
    <input type="text" class="searchTerm" placeholder="Name">
  </div>
  <!--  <hr class = "hr">-->
  <div class = "bottom_container">
    <hr class = "hr">
    <div>

      <img  class="icon" src="assets/ic_thumb_up_24px@2x.png">

      <p class="low_text">300 likes</p>
    </div>
    <div>

      <img class="icon" src="/assets/ic_get_app_24px@2x.png">

      <p class="low_text"> 200 downloads</p>

    </div>

    <div>

      <button type="submit" class="saveButton">
        <p class="button-text">Save changes</p>
      </button>


    </div>
    <div>
      <a href="">
        <img class= "trash" src="assets/ic_delete_24px@2x.png" alt="">
      </a>


    </div>
  </div>

</div>

<!--
<div class="doc-stats-content">
  <div class="switch-buttons">
    <button (click)="sortDownloadsArray()">show downloads</button>
    <button (click)="sortFavoritesArray()">show favorites</button>
  </div>
  <div class="doc-info">
    <div id="most-views" class="stats-doc">
      <div>
        <div class="individual-content" *ngFor="let pdf of pdfs">
          <div class="document-info">
            <h5 class="card-heading">{{pdf.title}}</h5>
          </div>
          <div class="stats">
            <p>{{pdf.favorites}} favorites </p>
            <p> {{pdf.downloads}} downloads</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
