@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

.related-search-hits-container {
  background: #E9EAED 0% 0% no-repeat padding-box;
  width: calc(100% - 50px);
  padding: 5px 25px;
  border-radius: 40px;
  opacity: 0.75;
  height: auto;
  margin-left: 0px;

  .bubble {
    background: #C7D4DB 0% 0% no-repeat padding-box;
    border-radius: 75px;
    opacity: 1;
    text-align: center;
    font-family: poppins, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    color: #383838;
    margin: 20px auto;
    padding: 15px 15px 25px;
  }

  .big {
    width: 80%;
  }

  .small {
    width: 50%;
  }
}
