<p id="trending-documents-title">TRENDS RIGHT NOW</p>

<div class="documents-div">
  <app-trending-document title="Kort"></app-trending-document>
  <app-trending-document title="Det här är en lång titel"></app-trending-document>
  <app-trending-document title="inte den här"></app-trending-document>
  <app-trending-document title="Inte den här helelr"></app-trending-document>
  <app-trending-document title="Men den här är väldigt lång, kanske lite för lång"></app-trending-document>
  <app-trending-document title="Kort"></app-trending-document>

</div>
