.documents-div {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  text-align: center;
  overflow:hidden;

}

#trending-documents-title {
  margin-left: 15%;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

