<div class="page-content">
  <div class="upload-content">
    <button routerLink="/upload" class="upload-btn">Upload document</button>
  </div>
  <div class="view-content" >
    <h2>Browse all of your documents</h2>
    <div>
      <div class="individual-content" *ngFor="let pdf of pdfs">
        <!-- let pdf of pdfs-->
        <h5 class="card-heading">{{pdf.title}}</h5>
        <!--{{pdf.name}}-->
        <button type="submit" (click)="deletePDF('Name')">Delete</button>
        <!-- deletePDF(pdf.name)-->
      </div>
    </div>
  </div>
  <div></div>
</div>
