.container{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;

  .upload-link{
      width: 10%;
      justify-content: center;

      button {
        background-color: #B0D5D8;
        color: #ffffff;
        border: none;
        padding: 4px 11px;
        margin: 2px;
        cursor: pointer;
      }
  }
  .upload-btn {
    background-color: #ffffff;
    font-size: 17px;
    padding: 14px 7px;
    margin-top: 0px;
  }
  .upload-btn:hover {
    background-color: #F0F0F0;
    color: #000000;
  }
}

.view-content{
  width: 47%;
  height: auto;
  overflow: scroll;
  display: flex;
  margin: 10px;
  background-color: #ffffff;
  h3{
    margin:3px;
    width: 100%;
  }
  h5{
    margin: 5px;
  }
}

.stats {
  height: 100%;
  width: 40%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.stat {
  height: 80%;
  width: 47%;
  background-color: #EFD8D8;
  justify-content: center;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  h2{
    margin:3px;
  }
}

.most-content{
  height: 100%;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
  h4{
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.individual-content {
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin-top: 1px;
  margin-bottom: 1px;
  display: compact;
  justify-content: center;

  h5{
    text-align: left;
    margin-left: 5px;
  }
  button{
    text-align: right;
    margin-right: 10px;
  }
}


