<div class="page-content">
  <div class="upload-content">
    <button routerLink="/upload" class="upload-btn">Upload document</button>
  </div>
  <div class="view-content" >
    <h2>Browse all of your documents</h2>
    <div class="search">
      <!--<input (input)="search($event.target.value)"/> -->
      <input type="text" class="searchTerm" placeholder="What are you looking for?" [(ngModel)]="searchString"/>
      <button type="submit" (click)="search()" class="searchButton">
        search
      </button>
    </div>
    <div *ngIf="!searched">
      <div class="individual-content" *ngFor="let pdf of pdfs">
        <h5 class="card-heading">{{pdf.title}}</h5>
        <button type="submit" (click)="deletePDF('Name')">Delete</button>
      </div>
    </div>
    <div *ngIf="searched">
      <div class="individual-content" *ngFor="let result of results">
        <h5 class="card-heading">{{result.title}}</h5>
        <button type="submit" (click)="deletePDF('Name')">Delete</button>
      </div>
    </div>
  </div>
  <div></div>
</div>
